<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Home', :root, class: 'navbar-item' %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= link_to('Profile', user_path(current_user), class: 'button is-primary') %>
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'button is-danger is-outlined') %>
          <% else %>
            <%= link_to('Sign up', new_user_registration_path, class: 'button is-primary')  %>
            <%= link_to('Login', new_user_session_path, class: 'button is-light')  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
