<% current_user.todos.each do |todo| %>
  <div class="todo">
    <span class="tags mb-0">
      <% todo.tag_list.each do |tag| %>
        <span class="tag"><%= tag %></span>
      <% end %>
    </span>
    <span class="detail"><%= todo.detail %></span>

    <div class="reactions">
      <% todo.reactions.group('reactions.emoji').sum('1').each do |emoji, count| %>
      <div class="reaction">
        <span class="emoji" data-todo-id="<%= todo.id %>" data-emoji="<%= emoji %>"><%= emoji %></span> <span class="count"><%= count %></span>
      </div>
      <% end %>
      <div class="reaction add-reaction" data-todo-id="<%= todo.id %>">
        +
      </div>
    </div>
    <div class="comments">
      <div class="comment add-comment">
        <%= form_for [todo, Comment.new] do |f| %>
          <%= f.text_field :content %>
          <%= f.button :submit %>
        <% end %>
      </div>

      <% todo.comments.order(created_at: :desc).limit(5).each do |comment| %>
        <div class="comment">
          <span class="muted fixed-width"><%= time_ago_in_words(comment.created_at) %></span>
          <%= link_to user_path(comment.user) do %>
          <span style="color: #<%= comment.user.color %>"><%= comment.user.username %></span>
          <% end %>
          &ndash; <%= comment.content %>
        </div>
      <% end %>

      <% if todo.comments.count > 5 %>
        <%= link_to todo_path(todo) do %>
          View more
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<div id="picker"></div>
